openapi: 3.0.0
info:
  title: Rhythms (params in:body) access_requests mention_access_checks API
  description: '

    <p># RhythmsAI API</p>


    <p>The RhythmsAI API provides a comprehensive platform for team productivity, goal tracking, and workflow automation. Built with multi-tenant architecture, it enables organizations to manage objectives, track progress, and integrate with popular productivity tools.</p>


    <p>## API Structure</p>

    <ul><li>

    <p>**RESTful Design**: Clean, predictable REST endpoints following industry standards</p>

    </li><li>

    <p><strong>Multi-tenant</strong>: All data is automatically scoped to your organization’s tenant</p>

    </li><li>

    <p><strong>Authentication</strong>: Secure authentication with proper authorization controls</p>

    </li><li>

    <p><strong>Pagination</strong>: Efficient data retrieval with built-in pagination support</p>

    </li><li>

    <p><strong>Filtering</strong>: Advanced filtering capabilities using Ransack query DSL</p>

    </li></ul>


    <p>## Getting Started</p>


    <p>All API endpoints require authentication. Once authenticated, your requests will be automatically scoped to your organization’s data. The API supports JSON request/response format and follows standard HTTP status codes for success and error handling.</p>


    <p>For integration support and detailed examples, refer to the specific endpoint documentation below.</p>

    '
  version: '1.0'
  x-copyright: null
servers:
- url: https://api.rhythms.ai
security: []
tags:
- name: mention_access_checks
paths:
  /{shareable_type}/{shareable_uuid}/mention_access_check:
    get:
      tags:
      - mention_access_checks
      operationId: get_shareable_type_shareable_uuid_mention_access_check
      summary: Check which mentioned entities lack access
      parameters:
      - name: shareable_type
        in: path
        required: true
        description: Allowed shareable type segment (e.g. 'documents')
        schema:
          type: string
          enum:
          - okrs-dashboards
          - documents
          - explorer-views
          - connections
          - playbooks
          - solutions
          - skills
      - name: shareable_uuid
        in: path
        required: true
        description: Shareable identifier (composite primary key or UUID)
        schema:
          type: string
      - name: user_uuids
        in: query
        description: UUIDs of mentioned users to check
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: team_uuids
        in: query
        description: UUIDs of mentioned teams to check
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: ok
      description: 'Reports which mentioned users and teams lack view access to a shareable and

        whether the caller may grant them access. Powers the proactive

        "grant access at mention" flow across every shareable type.

        '
