openapi: 3.2.0
info:
  title: Rhythms (params in:body) Connector Requests API
  description: '# RhythmsAI API


    The RhythmsAI API provides a comprehensive platform for team productivity, goal tracking, and workflow automation.'
  version: '1.0'
  x-copyright: null
servers:
- url: https://api.rhythms.ai
security: []
tags:
- name: connector_requests
paths:
  /connector_requests:
    post:
      tags:
      - connector_requests
      operationId: post_connector_requests
      summary: Record a connector integration request and notify Pylon
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                connection_type:
                  type: string
                  description: Connector connection type key (e.g. Slack) or free-form name
                connector_display_name:
                  type: string
                  description: Human-readable connector name (defaults to connection_type when blank)
                request_source:
                  type: string
                  enum:
                  - catalog
                  - by_name
                  description: Where the request originated (low-cardinality Datadog tag)
              additionalProperties: false
              required:
              - connection_type
      responses:
        '400':
          description: Bad Request - Invalid parameters or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication
        '403':
          description: Forbidden - User lacks permission to access this resource
        '404':
          description: Not Found - Resource does not exist
        '422':
          description: Unprocessable Entity - Invalid request parameters or validation errors
        '429':
          description: Too Many Requests - Rate limit exceeded
        '500':
          description: Internal Server Error - Unexpected server error
      description: Persists the requested connector on `current_user.tenant.setting.requested_connections` (idempotent, normalized by case + collapsed whitespace) and pages Pylon by creating an in-app chat issue attributed to the requester. Used by both the admin Connectors page (catalog tile + free-form) and the My Connectors page (free-form). Requires PYLON_ISSUES_API_TOKEN + PYLON_APP_ID for the Pylon side; persistence still happens when those are unset. Authenticated tenant members only; the workspace is always `current_user.tenant` (no tenant id in the request body).
