openapi: 3.0.0
info:
  title: Rhythms (params in:body) access_requests data_sources API
  description: '

    <p># RhythmsAI API</p>


    <p>The RhythmsAI API provides a comprehensive platform for team productivity, goal tracking, and workflow automation. Built with multi-tenant architecture, it enables organizations to manage objectives, track progress, and integrate with popular productivity tools.</p>


    <p>## API Structure</p>

    <ul><li>

    <p>**RESTful Design**: Clean, predictable REST endpoints following industry standards</p>

    </li><li>

    <p><strong>Multi-tenant</strong>: All data is automatically scoped to your organization’s tenant</p>

    </li><li>

    <p><strong>Authentication</strong>: Secure authentication with proper authorization controls</p>

    </li><li>

    <p><strong>Pagination</strong>: Efficient data retrieval with built-in pagination support</p>

    </li><li>

    <p><strong>Filtering</strong>: Advanced filtering capabilities using Ransack query DSL</p>

    </li></ul>


    <p>## Getting Started</p>


    <p>All API endpoints require authentication. Once authenticated, your requests will be automatically scoped to your organization’s data. The API supports JSON request/response format and follows standard HTTP status codes for success and error handling.</p>


    <p>For integration support and detailed examples, refer to the specific endpoint documentation below.</p>

    '
  version: '1.0'
  x-copyright: null
servers:
- url: https://api.rhythms.ai
security: []
tags:
- name: data_sources
paths:
  /data_sources/{id}:
    get:
      tags:
      - data_sources
      operationId: get_data_sources_id
      summary: Get a data source
      parameters:
      - name: id
        in: path
        required: true
        description: Composite primary key in format '<tenant_uuid>_<data_source_uuid>' or data source UUID
        schema:
          type: string
      responses:
        '200':
          description: Data source found
          headers: {}
          content:
            '*/*':
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
                    description: Data source details
                additionalProperties: false
                required:
                - data
        '400':
          description: Bad Request - Invalid parameters or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication
        '403':
          description: Forbidden - User lacks permission to access this resource
        '404':
          description: Not Found - Resource does not exist
        '422':
          description: Unprocessable Entity - Invalid request parameters or validation errors
      description: 'Retrieves a data source by its composite primary key or by UUID within the current tenant.


        The user must have permission to view the linked goal or initiative.

        '
