openapi: 3.2.0
info:
  title: Rhythms (params in:body) Data Sources API
  description: '# RhythmsAI API


    The RhythmsAI API provides a comprehensive platform for team productivity, goal tracking, and workflow automation.'
  version: '1.0'
  x-copyright: null
servers:
- url: https://api.rhythms.ai
security: []
tags:
- name: Data Sources
paths:
  /data_sources/{id}:
    get:
      tags:
      - Data Sources
      operationId: get_data_sources_id
      summary: Get a data source
      parameters:
      - name: id
        in: path
        required: true
        description: Composite primary key in format '<tenant_uuid>_<data_source_uuid>' or data source UUID
        schema:
          type: string
      responses:
        '200':
          description: Data source found
          headers: {}
          content:
            '*/*':
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
                    description: Data source details
                additionalProperties: false
                required:
                - data
        '400':
          description: Bad Request - Invalid parameters or malformed request
        '401':
          description: Unauthorized - Invalid or missing authentication
        '403':
          description: Forbidden - User lacks permission to access this resource
        '404':
          description: Not Found - Resource does not exist
        '422':
          description: Unprocessable Entity - Invalid request parameters or validation errors
      description: 'Retrieves a data source by its composite primary key or by UUID within the current tenant.


        The user must have permission to view the linked goal or initiative.'
