openapi: 3.2.0
info:
  title: Rhythms (params in:body) Mention Access Checks API
  description: '# RhythmsAI API


    The RhythmsAI API provides a comprehensive platform for team productivity, goal tracking, and workflow automation.'
  version: '1.0'
  x-copyright: null
servers:
- url: https://api.rhythms.ai
security: []
tags:
- name: mention_access_checks
paths:
  /{shareable_type}/{shareable_uuid}/mention_access_check:
    get:
      tags:
      - mention_access_checks
      operationId: get_shareable_type_shareable_uuid_mention_access_check
      summary: Check which mentioned entities lack access
      parameters:
      - name: shareable_type
        in: path
        required: true
        description: Allowed shareable type segment (e.g. 'documents')
        schema:
          type: string
          enum:
          - okrs-dashboards
          - documents
          - explorer-views
          - connections
          - playbooks
          - solutions
          - skills
      - name: shareable_uuid
        in: path
        required: true
        description: Shareable identifier (composite primary key or UUID)
        schema:
          type: string
      - name: user_uuids
        in: query
        description: UUIDs of mentioned users to check
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: team_uuids
        in: query
        description: UUIDs of mentioned teams to check
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: ok
      description: 'Reports which mentioned users and teams lack view access to a shareable and

        whether the caller may grant them access. Powers the proactive

        "grant access at mention" flow across every shareable type.'
